{% load toolcall_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Tools</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Client/Tool List</h1>

    {% for client in clients %}
        <h2><u style="font-size: small">client #{{ forloop.counter }}:</u><br>{{ client.name }}</h2>

	  <div style="margin-left:20px">
	    <h3>tools:</h3>
	    {% for tool in client.tool_set.all %}
	        {% start_toolcall tool %}<br>
	    {% empty %}
		<span style="border:1px solid #999;padding:2px 4px;border-radius:3px;">No tools defined</span>
	    {% endfor %}
	  </div>
    {% endfor %}
</div>
</body>
</html>
